

*
    font-family: 'Roboto', 'Roboto Condensed', sans-serif
    box-sizing: border-box
.container
    width: 1150px
    margin: 0 auto

@import 'libs/_bootstrap-reboot.min.scss'
@import 'variables/_variables'
@import 'blocks/_buttons'
@import 'blocks/_promo.sass'
@import 'blocks/_benefit'