.delivery
    min-height: 620px
    padding: 45px 0 55px 0
    &__title
        font-size: 26px
        line-height: 26px
        font-weight: 700
        text-transform: uppercase
        color: #2e2e2e
        text-align: center
        &::after
            content: " "
            display: block
            width: 150px
            border-bottom: 1px solid $main-color
            margin: 0px auto
            position: relative
            top: 19px
    &__subtitle
        font-size: 21px
        line-height: 21px
        font-weight: 300
        color: #2e2e2e
        text-align: center
        margin-top: 38px
    &__wrap
        display: flex
        justify-content: space-between
        margin-top: 35px
    &__item
        max-width: 360px
        text-align: center
        &-title
            font-size: 18px
            line-height: 22px
            font-weight: 700
            color: #ec644b
            margin-top: 20px
        &-descr
            font-size: 14px
            font-weight: 300
            color: #3a3a3a
